<template>
    <v-scroll-x-transition>
        <div>
            <h1>Error: {{ code }}</h1>
            <p>{{ error }}</p>
            <v-btn round @click="goBack">{{ $t('Go Back') }}</v-btn>
        </div>
    </v-scroll-x-transition>
</template>

<script>

    export default {
        name: "Lock",
        created: function () {
            if ( this.$route.params.code ) {
                this.code = this.$route.params.code;
            }
            if ( this.$route.params.text ) {
                this.error = this.$route.params.text;
            }
        },
        data() {
            return {
                code: 404,
                error: 'Not found',
            };
        },
        mounted: function () {

        },
        methods: {
            goBack() {
                if ( this.code === 401 ) {
                    window.location.reload();
                } else {
                    this.$router.push({ name: 'Home' })
                }
            }
        }

    }
</script>

<style scoped>

</style>