<template>
  <v-card class="v-card-pricing" :calss="cardClass">
    <slot name="category"></slot>
    <v-card-text>
      <div class="pricing-card-icon" :class="iconColor">
        <slot name="icon"></slot>
      </div>
      <slot name="title"></slot>
      <slot name="description"></slot>
    </v-card-text>
    <v-card-actions text-xs-center>
      <v-spacer></v-spacer>
      <slot name="footer"></slot>
      <v-spacer></v-spacer>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    name: "PricingCard",
    props: {
      cardClass: {
        type: String,
        default: ""
      },
      iconColor: {
        type: String,
        default: ""
      }
    }
  }
</script>

<style lang="scss">
  .v-card-pricing {
    text-align: center;

    &:after {
      background-color: rgba(0, 0, 0, 0.7) !important;
    }

    .category {
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: .5rem;
    }

    &.v-card-plain .title {
      color: #fff;
    }

    .title {
      margin-top: 20px;
      //color: #3c4858;
    }

    .v-card__text {
      padding: 15px !important;
      margin: 0 !important;
    }

    .pricing-card-icon {
      padding: 10px 0 0;

      i {
        font-size: 55px !important;
        border: 1px solid #e5e5e5;
        border-radius: 50%;
        width: 130px;
        line-height: 130px;
        height: 130px;
      }

      &.icon-primary i {
        color: #448aff;
      }

      &.icon-info i {
        color: #00bcd4;
      }

      &.icon-success i {
        color: #4caf50;
      }

      &.icon-warning i {
        color: #ff9800;
      }

      &.icon-danger i {
        color: #f44336;
      }

      &.icon-rose i {
        color: #e91e63;
      }

      &.icon-white i {
        color: #fff;
      }

      &.icon-black i {
        color: #333;
      }
    }

    h1 small {
      font-size: 18px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      height: 0;

      &:first-child {
        position: relative;
        top: -17px;
        font-size: 26px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      max-width: 240px;
      margin: 10px auto;

      li {
        color: #999;
        text-align: center;
        padding: 12px 0;
        border-bottom: 1px solid hsla(0, 0%, 60%, 0.3);

        &:last-child {
          border: 0;
        }

        b {
          color: #3c4858;
        }

        i {
          top: 6px;
          position: relative;
        }
      }
    }

    &.card-background ul li, &[class*=bg-] ul li {
      color: #fff;
      border-color: hsla(0, 0%, 100%, 0.3);
    }

    &.card-background ul li b, &[class*=bg-] ul li b {
      color: #fff;
      font-weight: 700;
    }

    &.card-background {
      .card-category, [class*=text-] {
        color: #fff !important;
      }
    }

    &[class*=bg-] {
      .card-category, [class*=text-] {
        color: #fff !important;
      }
    }

    .v-card-actions {
      z-index: 2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border: 0;

      .v-btn {
        margin: 5px 0;
      }
    }
  }
</style>