<template>
  <v-card @mouseenter.native="onMouseLeave" :data-count="hoverCount" class="v-card-products mt-5">
    <v-img @mouseleave.native="onMouseOver" :data-header-animation="headerAnimation"
      :class="[
        { bounce: imgHovered },
        { hinge: headerDown },
        { fadeInDown: fixedHeader }
      ]"
      class="v-card-header-image animated elevation-8"
      :src="image"
      aspect-ratio="2.75"
    >
      <v-card-title>
        <slot name="imageHeader"></slot>
      </v-card-title>
    </v-img>

    <v-card-text class="text-xs-center">

      <div v-if="headerAnimation === 'true'" class="text-xs-center">
        <v-btn flat color="red" class="fix-broken-card" @click="fixHeader" v-if="headerDown">
          <slot name="fixed-button"></slot> Reparar
        </v-btn>
        <br>
        <v-btn icon>
          <slot name="first-button"></slot>
        </v-btn>
        <v-btn icon>
          <slot name="second-button"></slot>
        </v-btn>
        <v-btn icon>
          <slot name="third-button"></slot>
        </v-btn>
      </div>

      <h6 class="category text-gray font-weight-thin mb-3"><slot name="category"></slot></h6>
      <h4 class="card-title font-weight-light"> <slot name="title"></slot> </h4>
      <p class="card-description font-weight-light">

        <slot></slot>

      </p>

    </v-card-text>

    <v-card-actions>
      <p class="card-description font-weight-light">
        <slot name="price"></slot>
      </p>
      <v-spacer></v-spacer>
      <slot name="actions"></slot>
    </v-card-actions>

    <v-slide-y-transition>
      <slot name="details"></slot>
    </v-slide-y-transition>

  </v-card>
</template>

<script>
  export default {
    name: "ProductCard",
    props: {
      image: {
        type: String,
        default: 'https://cdn.vuetifyjs.com/images/cards/desert.jpg'
      }
    },
    data() {
      return {
        headerAnimation: "true",
        hoverCount: 0,
        imgHovered: false,
        fixedHeader: false
      };
    },
    computed: {
      headerDown() {
        return this.hoverCount > 15;
      }
    },
    methods: {
      headerBack: function() {
        this.fixedHeader = false;
      },
      fixHeader: function() {
        this.hoverCount = 0;
        this.fixedHeader = true;

        setTimeout(this.headerBack, 480);
      },
      onMouseOver: function() {
        if (this.headerAnimation === "true") {
          this.imgHovered = true;
          this.hoverCount++;
        }
      },
      onMouseLeave: function() {
        if (this.headerAnimation === "true") {
          this.imgHovered = false;
        }
      }
    }
  }
</script>

<style scoped>

  .hovered {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }
  .hovered:hover {
    top: -10px;
  }

</style>