<template>
  <v-container fluid grid-list-md fill-height>
    <v-layout justify-center align-center wrap>
      <v-flex xs12>
        <material-card color="info">
          <div slot="header">
            <div class="title font-weight-light mb-2">
              {{ $t("General Report") }}
            </div>
            <div class="category">
              <v-icon size="17">description</v-icon>
              {{ $t('description') }}
            </div>
          </div>

          <v-card-title>
            <v-dialog v-model="dialog" persistent max-width="600px">
              <template v-slot:activator="{ on }">
                <v-btn round icon :loading="isLoading" v-on="on" :disabled="isLoading" class="mt-3" color="info">
                  <v-icon>mdi-file-excel</v-icon>
                </v-btn>
              </template>

              <v-form @submit.prevent="onExport">
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ $t('Report') }}</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12 sm6 md6>
                          <v-dialog ref="dialog" v-model="modal" :return-value.sync="form.start_date"
                                    persistent full-width lazy width="290px">
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                v-model="form.start_date"
                                :label="$t('start_date').capitalize()"
                                id="start_date"
                                name="start_date"
                                ref="afterTarget"
                                v-validate="form.validations.date"
                                :data-vv-name="$t('start_date')"
                                :error-messages="errors.collect( $t('start_date') )"
                                prepend-icon="event"
                                :loading="isLoading"
                                :disabled="isLoading"
                                color="info"
                                readonly
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker class="date-picker-btn" color="info" :max="form.end_date" :locale=" ( $i18n.locale === 'es' ) ? 'es-es' : 'en-us' " header-color="info" v-model="form.start_date">
                              <v-spacer></v-spacer>
                              <v-btn flat color="danger" @click="modal = false">{{ $t('Cancel') }}</v-btn>
                              <v-btn flat color="info" @click="$refs.dialog.save(form.start_date)">OK</v-btn>
                            </v-date-picker>
                          </v-dialog>
                        </v-flex>
                        <v-flex xs12 sm6 md6>
                          <v-dialog ref="dialog2" v-model="modal2" :return-value.sync="form.end_date"
                                    persistent lazy full-width width="290px">
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                v-model="form.end_date"
                                v-validate="form.validations.after_date"
                                :data-vv-name="$t('start_date')"
                                :error-messages="errors.collect( $t('end_date') )"
                                :label="$t('end_date').capitalize()"
                                prepend-icon="event"
                                :loading="isLoading"
                                :disabled="isLoading"
                                color="info"
                                readonly
                                ref="beforeTarget"
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker :min="form.start_date" color="info" :locale=" ( $i18n.locale === 'es' ) ? 'es-es' : 'en-us' " header-color="info" v-model="form.end_date">
                              <v-spacer></v-spacer>
                              <v-btn flat color="danger" @click="modal2 = false">{{ $t('Cancel') }}</v-btn>
                              <v-btn flat color="info" @click="$refs.dialog2.save(form.end_date)">OK</v-btn>
                            </v-date-picker>
                          </v-dialog>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="danger"  :loading="isLoading" :disabled="isLoading" flat @click="dialog = false">{{ $t('Close') }}</v-btn>
                    <v-btn color="info"  :loading="isLoading" :disabled="isLoading" type="submit" flat @submit.prevent="onExport">{{ $t('Generate') }}</v-btn>
                  </v-card-actions>
                </v-card>
              </v-form>

            </v-dialog>
            <v-btn round icon :loading="isLoading" @click="getRecords" :disabled="isLoading" class="mt-3" color="info">
              <v-icon>mdi-refresh</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-text-field
              v-model.lazy="query"
              append-icon="search"
              :label="$t('Search')"
              color="info"
              :loading="isLoading"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>

          <v-data-table :headers="columns" :rows-per-page-items="[5, 10, 15, 25, 50, 100]" :items="records" :expand="expand" item-key="id"
                        :loading="isLoading" :pagination.sync="pagination" :total-items="total" :rows-per-page-text="$t('Per Page')">

            <template v-slot:progress >
              <v-progress-linear color="blue" indeterminate></v-progress-linear>
            </template>

            <template v-slot:pageText="props">
              {{ $t('pagination', { init: props.pageStart, end: props.pageStop, total: props.itemsLength } ) }}
            </template>

            <template v-slot:no-data>
              <material-notification icon="mdi-alert" color="info">
                {{ $t('empty') }}
              </material-notification>
            </template>

            <template v-slot:items="item">
              <tr @click="item.expanded = !item.expanded">
                <td>{{ item.item.id }}</td>
                <td class="is-right">{{ item.item.document_type_name }}</td>
                <td class="is-right">{{ item.item.document }}</td>
                <td class="is-right">{{ item.item.supercade_name }}</td>
                <td class="is-right">{{ item.item.full_name }}</td>
                <td class="is-right">{{ item.item.location_name }}</td>
                <td class="is-right">{{ item.item.stratum }}</td>
              </tr>
            </template>

            <template v-slot:expand="item">
              <v-card flat>
                <div style="padding: 24px;" >
                  <table class="mu-table-body" style="width:100%">
                    <tr>
                      <th width="150">{{ $t('gender').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.gender_name }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('email').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.email }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('phone').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.phone }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('mobile').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.mobile }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('reason').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.reason_name }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('other').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.other }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('Was the information provided clear to you?').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.question_1 }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('Rate the received attention').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.question_2 }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('Do you know the IDRD website?').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.question_3 }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('observations').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.observations }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('created_at').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.created_at }}</td>
                    </tr>
                    <tr>
                      <th width="150">{{ $t('official').capitalize() }}:</th>
                      <td class="is-left">{{ item.item.user_full_name }}</td>
                    </tr>
                  </table>
                </div>
              </v-card>
            </template>

          </v-data-table>

        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import {Information} from "@/models/services/Information";
  import {Report} from "@/models/services/Report";

  export default {
    name: "InformationTable",
    data: () => ({
      dialog: false,
      modal: false,
      modal2: false,
      form: new Report(),
      total: 0,
      pagination: {},
      expand: false,
      passports: [],
      query: null,
      records: []
    }),
    methods: {
      getRecords: _.debounce(function () {
        const { sortBy, descending, page, rowsPerPage } = this.pagination;
        const query = this.query;
        this.loading = true;
        (new Information()).index({ params: { per_page: rowsPerPage, order: descending, column: sortBy, query: query, page: page } })
          .then( (response) => {
            this.records = response.data.data;
            this.total = response.data.total;
          })
          .catch((error) => this.notifyOnError( error.message ))
      }, 400),
      onExport: function () {
        this.$validator.validateAll().then(isValid => {
          if (isValid) {
            this.form.excel( this.form.data() )
              .then((response) => {
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'REPORTE_GENERAL.xlsx'); //or any other extension
                document.body.appendChild(link);
                link.click();
              })
              .catch((error) => this.notifyOnError( error.error.message ));
          } else {
            this.notifyOnError( this.$t('Complete the form') )
          }
        })

      },

    },
    created: function () {
      this.axiosInterceptor();
      this.getRecords()
    },
    computed: {
      columns: function () {
        return [
          { text: '#', width: '100', value: 'id', sortable: true },
          { text: this.$t('document_type').capitalize(), value: 'document_type_name', width: '126', align: 'center', sortable: true },
          { text: this.$t('document').capitalize(), value: 'document', width: '126', align: 'center', sortable: true },
          { text: this.$t('supercade').capitalize(), value: 'supercade_name', width: '200', align: 'center', sortable: true },
          { text: this.$t('name').capitalize(), value: 'full_name', width: '300', align: 'center', sortable: true },
          { text: this.$t('location').capitalize(), value: 'location_name', width: '150', align: 'center', sortable: true },
          { text: this.$t('stratum').capitalize(), value: 'stratum', width: '100', align: 'center', sortable: true },
        ];
      },
    },
    watch: {
      query: function () {
        this.getRecords();
      },
      pagination: {
        handler () {
          this.getRecords();
        },
        deep: true
      }
    },
  }
</script>

<style  scoped>
  .v-date-picker-table--date .v-btn {
    margin: 5px 1px;
    padding: 10px 20px;
    height: auto;
    color: #8bc34a;
    cursor: pointer;
  }
</style>