<template>
  <v-form  @submit.prevent="onSubmit" >
    <v-container>
      <v-layout wrap>
        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-autocomplete
            clearable
            :loading="isLoading"
            cache-items
            required
            color="info"
            v-model.number="form.supercade"
            prepend-icon="domain"
            :items="cades"
            name="supercade" id="supercade"
            v-validate="form.validations.numeric"
            :error-messages="errors.collect( $t('supercade') )"
            :error="form.errors.has('supercade')"
            :data-vv-name="$t('supercade')"
            item-text="name"
            item-value="id"
            :label="$t('supercade').capitalize()"
          ></v-autocomplete>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-autocomplete
            clearable
            cache-items
            :loading="isLoading"
            required
            color="info"
            v-model.number="form.document_type"
            prepend-icon="assignment"
            :items="document_types"
            name="document_type" id="document_type"
            v-validate="form.validations.numeric"
            :error-messages="errors.collect( $t('document_type') )"
            :error="form.errors.has('document_type')"
            :data-vv-name="$t('document_type')"
            item-text="name"
            item-value="id"
            :label="$t('document_type').capitalize()"
          ></v-autocomplete>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-text-field
            type="number"
            :loading="isLoading"
            min="4"
            max="13"
            color="info"
            prepend-icon="assignment_ind"
            v-model.number="form.document"
            v-validate="form.validations.document"
            :error-messages="errors.collect( $t('document') )"
            :error="form.errors.has('document')"
            :label="$t('document').capitalize()"
            :data-vv-name="$t('document')"
            name="document"
            :counter="12"
            id="document"
            required
          ></v-text-field>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-text-field
            color="info"
            :counter="form.validations.text_required.max"
            :loading="isLoading"
            prepend-icon="more_horiz"
            v-model="form.name"
            v-validate="form.validations.text_required"
            :error-messages="errors.collect( $t('name') )"
            :error="form.errors.has('name')"
            :label="$t('name').capitalize()"
            :data-vv-name="$t('name')"
            name="name"
            id="name"
            required
          ></v-text-field>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-text-field
            color="info"
            :loading="isLoading"
            :counter="form.validations.text_required.max"
            prepend-icon="more_horiz"
            v-model="form.lastname"
            v-validate="form.validations.text_required"
            :error-messages="errors.collect( $t('lastname') )"
            :error="form.errors.has('lastname')"
            :label="$t('lastname').capitalize()"
            :data-vv-name="$t('lastname')"
            name="lastname"
            id="lastname"
            required
          ></v-text-field>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-autocomplete
            clearable
            :loading="isLoading"
            cache-items
            required
            color="info"
            v-model.number="form.gender"
            prepend-icon="face"
            :items="genders"
            name="gender" id="gender"
            v-validate="form.validations.numeric"
            :error-messages="errors.collect( $t('gender') )"
            :error="form.errors.has('gender')"
            :data-vv-name="$t('gender')"
            item-text="name"
            item-value="id"
            :label="$t('gender').capitalize()"
          ></v-autocomplete>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-text-field
            type="email"
            color="info"
            :counter="form.validations.email.max"
            :maxlength="form.validations.email.max"
            :loading="isLoading"
            prepend-icon="email"
            v-model="form.email"
            v-validate="form.validations.email"
            :error-messages="errors.collect( $t('email') )"
            :error="form.errors.has('email')"
            :label="$t('email').capitalize()"
            :data-vv-name="$t('email')"
            name="email"
            id="email"
          ></v-text-field>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-text-field
            color="info"
            :counter="form.validations.phone.max"
            :maxlength="form.validations.phone.max"
            :loading="isLoading"
            prepend-icon="phone"
            v-model="form.phone"
            v-validate="form.validations.phone"
            :error-messages="errors.collect( $t('phone') )"
            :error="form.errors.has('phone')"
            :label="$t('phone').capitalize()"
            :data-vv-name="$t('phone')"
            name="phone"
            id="phone"
          ></v-text-field>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-text-field
            color="info"
            :loading="isLoading"
            :counter="form.validations.mobile.digits"
            :maxlength="form.validations.mobile.digits"
            prepend-icon="mdi-cellphone-iphone"
            v-model="form.mobile"
            v-validate="form.validations.mobile"
            :error-messages="errors.collect( $t('mobile') )"
            :error="form.errors.has('mobile')"
            :label="$t('mobile').capitalize()"
            :data-vv-name="$t('mobile')"
            name="mobile"
            id="mobile"
          ></v-text-field>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-autocomplete
            clearable
            cache-items
            :loading="isLoading"
            required
            color="info"
            v-model.number="form.location"
            prepend-icon="mdi-map-marker"
            :items="locations"
            name="location" id="location"
            v-validate="form.validations.numeric"
            :error-messages="errors.collect( $t('location') )"
            :error="form.errors.has('location')"
            :data-vv-name="$t('location')"
            item-text="name"
            item-value="id"
            :label="$t('location').capitalize()"
          ></v-autocomplete>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-autocomplete
            clearable
            cache-items
            :loading="isLoading"
            required
            color="info"
            v-model.number="form.stratum"
            prepend-icon="mdi-poll"
            :items="stratums"
            name="stratum" id="stratum"
            v-validate="form.validations.numeric"
            :error-messages="errors.collect( $t('stratum') )"
            :error="form.errors.has('stratum')"
            :data-vv-name="$t('stratum')"
            item-text="name"
            item-value="id"
            :label="$t('stratum').capitalize()"
          ></v-autocomplete>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-autocomplete
            clearable
            :loading="isLoading"
            cache-items
            required
            color="info"
            v-model.number="form.reason"
            prepend-icon="mdi-comment-question-outline"
            :items="reasons"
            name="reason" id="reason"
            v-validate="form.validations.numeric"
            :error-messages="errors.collect( $t('reason') )"
            :error="form.errors.has('reason')"
            :data-vv-name="$t('reason')"
            item-text="name"
            item-value="id"
            :label="$t('reason').capitalize()"
          ></v-autocomplete>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-text-field
            color="info"
            prepend-icon="mdi-forum"
            :counter="form.validations.text.max"
            :maxlength="form.validations.text.max"
            v-model="form.other"
            :loading="isLoading"
            v-validate="form.validations.text"
            :error-messages="errors.collect( $t('other') )"
            :error="form.errors.has('other')"
            :label="$t('other').capitalize()"
            :data-vv-name="$t('other')"
            name="other"
            id="other"
          ></v-text-field>
        </v-flex>

        <v-flex xs12 class="mt-3 mb-3">
          <v-divider></v-divider>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-autocomplete
            clearable
            cache-items
            :loading="isLoading"
            required
            color="info"
            v-model="form.question_1"
            prepend-icon="mdi-help-circle-outline"
            :items="question_one_and_three_data"
            name="question_1" id="question_1"
            v-validate="form.validations.required"
            :error-messages="errors.collect( $t('question_1') )"
            :error="form.errors.has('question_1')"
            :data-vv-name="$t('question_1')"
            item-text="name"
            item-value="id"
            :label="$t('Was the information provided clear to you?')"
          ></v-autocomplete>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-autocomplete
            clearable
            cache-items
            required
            color="info"
            :loading="isLoading"
            v-model="form.question_2"
            prepend-icon="mdi-help-circle-outline"
            :items="question_two_data"
            name="question_2" id="question_2"
            v-validate="form.validations.required"
            :error-messages="errors.collect( $t('question_2') )"
            :error="form.errors.has('question_2')"
            :data-vv-name="$t('question_2')"
            item-text="name"
            item-value="id"
            :label="$t('Rate the received attention')"
          ></v-autocomplete>
        </v-flex>

        <v-flex xs12 sm12 md6 lg4 xl4>
          <v-autocomplete
            clearable
            cache-items
            :loading="isLoading"
            required
            color="info"
            v-model="form.question_3"
            prepend-icon="mdi-help-circle-outline"
            :items="question_one_and_three_data"
            name="question_3" id="question_3"
            v-validate="form.validations.required"
            :error-messages="errors.collect( $t('question_3') )"
            :error="form.errors.has('question_3')"
            :data-vv-name="$t('question_3')"
            item-text="name"
            item-value="id"
            :label="$t('Do you know the IDRD website?')"
          ></v-autocomplete>
        </v-flex>

        <v-flex xs12>
          <v-textarea
            id="observations"
            prepend-icon="mdi-note-text"
            name="observations"
            :loading="isLoading"
            :label="$t('observations').capitalize()"
            v-validate="form.validations.note"
            :error-messages="errors.collect( $t('observations') )"
            :error="form.errors.has('observations')"
            :data-vv-name="$t('observations')"
            color="info"
            :counter="form.validations.note.max"
            :maxlength="form.validations.note.max"
            v-model="form.observations"
          ></v-textarea>
        </v-flex>

        <v-flex xs12 class="mt-3" text-xs-right>
          <v-divider></v-divider>
          <v-btn class="mt-3"  :loading="isLoading" :disabled="isLoading" color="danger" @click="clear">{{ $t('Clear') }}</v-btn>
          <v-btn type="submit" :loading="isLoading" :disabled="isLoading" class="mt-3" color="info">{{ $t('Send') }}</v-btn>
        </v-flex>

      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
  import {Information} from "@/models/services/Information";
  import {SuperCades} from "@/models/services/SuperCades";
  import {DocumentType} from "@/models/services/DocumentType";
  import {Location} from "@/models/services/Location";
  import {Reason} from "@/models/services/Reason";

  export default {
    name: "InformationForm",
    props: {
      isCreate: {
        type: Boolean,
        default: true
      }
    },
    data: () => ({
      form: new Information(),
      cades: [],
      document_types: [],
      locations: [],
      reasons: []
    }),
    created: function () {
      this.axiosInterceptor();
      this.getCades();
      this.getDocumentTypes();
      this.getLocations();
      this.getReasons();
    },
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then( isValid => {
          if ( isValid ) {
            if ( this.isCreate ) {
              this.form.store()
                .then((response) => this.notifyOnSuccess( response.data ))
                .catch((error) => this.hasBackendError( error ))
            } else {
              this.form.update()
                .then((response) => this.notifyOnSuccess( response.data ))
                .catch((error) => this.hasBackendError( error ))
            }
          } else {
            this.notifyOnError( this.$t('Complete the form') )
          }
        })
      },
      hasBackendError: function ( error ) {
        if ( error.message ) {
          this.notifyOnError( error.message )
        } else {
          let keys = Object.keys( error );
          if ( keys.length > 0 ) {
            let that = this;
            keys.map( k => {
              if ( that.form.errors.has( k ) ) {
                that.notifyOnError( that.form.errors.first( k ) )
              }
            })
          }
        }
      },
      getCades: function () {
        (new SuperCades()).index()
          .then(response => this.cades = response.data)
          .catch((error) => this.notifyOnError( error.message ))
      },
      getDocumentTypes: function () {
        (new DocumentType()).index()
          .then((response) => this.document_types = response.data)
          .catch((error) => this.notifyOnError( error.message ))
      },
      getLocations: function () {
        (new Location()).index()
          .then((response) => this.locations = response.data)
          .catch((error) => this.notifyOnError( error.message ))
      },
      getReasons: function () {
        (new Reason()).index()
          .then((response) => this.reasons = response.data)
          .catch((error) => this.notifyOnError( error.message ))
      },
      clear () {
        this.form.reset();
        this.$validator.reset()
      }
    },
    computed: {
      genders: function () {
        return [
          {id: 1, name: this.$t('male').capitalize() },
          {id: 2, name: this.$t('female').capitalize() },
        ]
      },
      stratums: function () {
        return [
          {id: 0, name: 0 },
          {id: 1, name: 1 },
          {id: 2, name: 2 },
          {id: 3, name: 3 },
          {id: 4, name: 4 },
          {id: 5, name: 5 },
          {id: 6, name: 6 },
        ]
      },
      question_one_and_three_data: function () {
        return [
          { id: 'SI', name: this.$t('yes').capitalize() },
          { id: 'NO', name: this.$t('no').capitalize() }
        ]
      },
      question_two_data: function () {
        return [
          { id: 'Excelente', name: this.$t('excellent').capitalize() },
          { id: 'Bueno', name: this.$t('good').capitalize() },
          { id: 'Regular', name: this.$t('regular').capitalize() },
          { id: 'Malo', name: this.$t('bad').capitalize() },
        ]
      },
    }
  }
</script>

<style scoped>

</style>