<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout wrap justify-center>
      <!-- Stats -->
      <v-flex md12 sm12 lg4>
        <material-chart-card :data="cade_chart.data" ratio="" :options="cade_chart.options" color="info" type="Bar">
          <h4 class="title font-weight-light">{{ $t('supercade').capitalize() }} - {{ moment().locale( $i18n.locale ).format('MMMM YYYY') }}</h4>
          <p class="category d-inline-flex font-weight-light" v-for="item in cade_data" :key="item.count">
            &nbsp&nbsp
            <v-icon color="info" small>mdi-domain</v-icon>
            <span class="cyan--text">&nbsp<animated-number :value="item.count"></animated-number></span>&nbsp;
            {{ item.supercade_name }}&nbsp
          </p>

          <template slot="actions">
            <v-icon class="mr-2" small>
              mdi-clock-outline
            </v-icon>
            <span class="caption grey--text font-weight-light">{{ timelapse }}</span>
            <v-spacer></v-spacer>
            <v-icon class="mr-2" @click="getCounts" small>
              mdi-refresh
            </v-icon>
            <span class="caption grey--text font-weight-light" @click="getCounts">{{ $t('Refresh') }}</span>
          </template>
        </material-chart-card>
      </v-flex>

      <v-flex md12 sm12 lg4>
        <material-chart-card :data="status_chart.data" ratio="" :options="status_chart.options" color="green" type="Line">
          <h4 class="title font-weight-light">{{ $t('Satisfaction') }} - {{ moment().locale( $i18n.locale ).format('MMMM YYYY') }}</h4>
          <p class="category d-inline-flex font-weight-light" v-for="item in status_data" :key="item.count">
            &nbsp&nbsp
            <v-icon color="info" small>mdi-help-circle-outline</v-icon>
            <span class="cyan--text">&nbsp<animated-number :value="item.count"></animated-number></span>&nbsp;
            {{ item.question_2 }}&nbsp
          </p>
          <template slot="actions">
            <v-icon class="mr-2" small>
              mdi-clock-outline
            </v-icon>
            <span class="caption grey--text font-weight-light">{{ timelapse }}</span>
            <v-spacer></v-spacer>
            <v-icon class="mr-2" @click="getCounts" small>
              mdi-refresh
            </v-icon>
            <span class="caption grey--text font-weight-light" @click="getCounts">{{ $t('Refresh') }}</span>
          </template>
        </material-chart-card>
      </v-flex>

      <v-flex md12 sm12 lg4>
        <material-chart-card :data="monthly_chart.data" ratio="" :responsive-options="monthly_chart.responsiveOptions" :options="monthly_chart.options" color="warning" type="Bar">
          <h4 class="title font-weight-light">{{ $t('Monthly Register') }} - {{ moment().format('YYYY') }}</h4>
          <p class="category d-inline-flex font-weight-light" v-for="item in monthly_data" :key="item.count">
            &nbsp&nbsp
            <v-icon color="info" small>mdi-domain</v-icon>
            <span class="cyan--text">&nbsp<animated-number :value="item.count"></animated-number></span>&nbsp;
            {{ monthly_chart.data.labels[ item.month - 1 ] }}&nbsp
          </p>

          <template slot="actions">
            <v-icon class="mr-2" small>
              mdi-clock-outline
            </v-icon>
            <span class="caption grey--text font-weight-light">{{ timelapse }}</span>
            <v-spacer></v-spacer>
            <v-icon class="mr-2" @click="getCounts" small>
              mdi-refresh
            </v-icon>
            <span class="caption grey--text font-weight-light" @click="getCounts">{{ $t('Refresh') }}</span>
          </template>
        </material-chart-card>
      </v-flex>


      <!-- Counters -->
      <v-flex sm6 xs12 md6 lg3>
        <material-stats-card color="green" icon="mdi-calendar-outline" :title="$t('total')" :value="total" :on-action="getCounts" sub-icon="mdi-refresh" :sub-text="$t('Refresh')"></material-stats-card>
      </v-flex>
      <v-flex sm6 xs12 md6 lg3>
        <material-stats-card color="orange" icon="mdi-calendar-month" :title="$t('month')" :value="month" :on-action="getCounts" sub-icon="mdi-refresh" :sub-text="$t('Refresh')"></material-stats-card>
      </v-flex>
      <v-flex sm6 xs12 md6 lg3>
        <material-stats-card color="red" icon="mdi-calendar" :title="$t('week')" :value="week" :on-action="getCounts" sub-icon="mdi-refresh" :sub-text="$t('Refresh')"></material-stats-card>
      </v-flex>
      <v-flex sm6 xs12 md6 lg3>
        <material-stats-card color="info" icon="mdi-calendar-week-begin" :title="$t('today')" :value="today" :on-action="getCounts" sub-icon="mdi-refresh" :sub-text="$t('Refresh')"></material-stats-card>
      </v-flex>


      <v-flex v-if="$auth.can('register_info')" sm6 xs12 md6 lg3>
          <material-pricing-card card-class="v-card-plain">
            <v-icon slot="icon">question_answer</v-icon>
            <h3 slot="title" class="title">{{ $t('Record Information') }}</h3>
            <v-btn slot="footer" @click="goToRecord" round class="text--white" color="info">{{ $t('Go') }}</v-btn>
          </material-pricing-card>
      </v-flex>

      <v-flex sm6 xs12 md6 lg3>
        <material-pricing-card card-class="v-card-plain">
          <v-icon slot="icon">face</v-icon>
          <h3 slot="title" class="title">{{ $t('Created by me') }}</h3>
          <h3 slot="description" ><animated-number :value="me"></animated-number></h3>
          <v-btn slot="footer" @click="getCounts" round class="text--white" color="info">
            {{ $t('Refresh') }}
          </v-btn>
        </material-pricing-card>
      </v-flex>

      <v-flex v-if="$auth.can('general_report')" sm6 xs12 md6 lg3>
        <material-pricing-card card-class="v-card-plain">
          <v-icon slot="icon">description</v-icon>
          <h3 slot="title" class="title">{{ $t('General Report') }}</h3>
          <v-btn slot="footer" @click="goToReport" round class="text--white" color="info">{{ $t('Go') }}</v-btn>
        </material-pricing-card>
      </v-flex>

      <v-flex xs12>
        <material-card color="orange" :title="$t('Stats')" :text="`${ $t('period').capitalize() } ${moment().locale( $i18n.locale ).format('MMMM YYYY')}`">

          <v-data-table :items="users" hide-actions>
            <template slot="items" slot-scope="{ index, item }">
              <td>{{ index + 1 }}</td>
              <td><v-icon>mdi-face-agent</v-icon></td>
              <td class="text-xs-center">{{ item.user_full_name }}</td>
              <td class="text-xs-center"><animated-number :value="item.count"></animated-number></td>
            </template>
          </v-data-table>

        </material-card>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
  import moment from "moment"
  import {Counter} from "@/models/services/Counter";

  export default {
    components: {
      InformationTable: () => import(/* webpackChunkName: "table" */ './information/InformationTable'),
    },
    data: () => ({
      moment: moment,
      total: 0,
      month: 0,
      week: 0,
      today: 0,
      me: 0,
      //Charts
      cade_chart: null,
      status_chart: null,
      monthly_chart: null,

      cade_data: [],
      status_data: [],
      monthly_data: [],
      users: [],


      updated_at: moment(),
      timelapse: null,
    }),
    created: function() {
      this.getCounts();
      this.cade_chart = {
        data: {
          labels: ['Américas', 'Bosa', '20 de Julio', 'Suba', 'CAD'],
          series: [ [0, 0, 0, 0, 0] ]
        },
        options: {
          lineSmooth: this.$chartist.Interpolation.cardinal({
            tension: 0
          }),
          low: 0,
          high: 10, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        }
      }
      this.monthly_chart = {
        data: {
          labels: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
          series: [ [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0] ]
        },
        options: {
          lineSmooth: this.$chartist.Interpolation.cardinal({
            tension: 0
          }),
          low: 0,
          high: 10, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        },
        responsiveOptions: [
          ['screen and (max-width: 640px)', {
            seriesBarDistance: 5,
            axisX: {
              labelInterpolationFnc: function (value) {
                return value[0]
              }
            }
          }]
        ]
      }
      this.status_chart = {
        data: {
          labels: [this.$t('excellent').capitalize(), this.$t('good').capitalize(), this.$t('regular').capitalize(), this.$t('bad').capitalize()],
          series: [ [9, 6, 3, 1] ]
        },
        options: {
          lineSmooth: this.$chartist.Interpolation.cardinal({
            tension: 0
          }),
          low: 0,
          high: 10, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        }
      }
    },
    mounted: function () {
      let that = this;
      that.timelapse = `${ that.$t('updated')} ${ moment( that.updated_at ).locale( that.$i18n.locale ).fromNow() }`;
       setInterval(function () {
         that.timelapse = `${ that.$t('updated')} ${ moment( that.updated_at ).locale( that.$i18n.locale ).fromNow() }`;
      }, 50000);
    },
    methods: {
      getCounts: function () {
        this.total = 0;
        this.month = 0;
        this.week  = 0;
        this.today = 0;
        (new Counter()).index()
          .then((response) => {
            this.total = response.data.total;
            this.month = response.data.month;
            this.week  = response.data.week;
            this.today = response.data.today;
            this.cade_data = response.data.cades;
            this.status_data = response.data.status;
            this.updated_at = response.data.date;
            this.users = response.data.users;
            this.monthly_data = response.data.monthly;

            let labels = [];
            let series = [];
            this.cade_data.map( c => {
              labels.push( c.supercade_name );
              series.push( c.count );
            });
            this.cade_chart.data = {
              labels: labels,
              series: [ series ]
            };
            this.cade_chart.options.high = Math.max( ...series );

            let labels2 = [];
            let series2 = [];
            this.status_data.map( c => {
              labels2.push( c.question_2 );
              series2.push( c.count );
            });
            this.status_chart.data = {
              labels: labels2,
              series: [ series2 ]
            };
            this.status_chart.options.high = Math.max( ...series2 );


            let series3 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
            let months = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'];

            this.monthly_data.map( c => {
              series3[ c.month - 1 ] =  c.count ;
            });

            this.monthly_chart.data = {
              labels: months,
              series: [ series3 ]
            };
            this.monthly_chart.options.high = Math.max( ...series3 );
          })
          .then(() => {
            this.timelapse = `${ this.$t('updated')} ${ moment( this.updated_at ).locale( this.$i18n.locale ).fromNow() }`;
          })
          .catch((error) => this.notifyOnError( error.message ))
      },
      goToRecord: function () {
        this.$router.push({name: 'Record Information'})
      },
      goToReport: function () {
        this.$router.push({name: 'General Report'})
      }
    },
    watch: {
      '$i18n.locale': function () {
        this.timelapse = `${ this.$t('updated')} ${ moment( this.updated_at ).locale( this.$i18n.locale ).fromNow() }`;
      }
    }
  }
</script>

<style  scoped>
  .ct-square {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }
</style>