<template>
  <v-container fluid grid-list-md fill-height>
    <v-layout justify-center align-center wrap>
      <v-flex xs12>
        <material-card color="info">
          <div slot="header">
            <div class="title font-weight-light mb-2">
              {{ $t('Record Information') }}
            </div>
            <div class="category">
              <v-icon size="17">domain</v-icon>
              {{ $t('description') }}
            </div>
          </div>
          <v-card-text>
            <information-form :is-create="true"></information-form>
          </v-card-text>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    components: {
      InformationForm: () => import(/* webpackChunkName: "information" */ './information/InformationForm'),
    },
  }
</script>

<style  scoped>

</style>