<template>
  <v-navigation-drawer v-model="inputValueRight"
                       right
                       fixed
                       mobile-break-point="991"
                       width="260"
                       app
                      >

      <v-layout column class="fill-height">
          <slot></slot>
      </v-layout >
  </v-navigation-drawer>
</template>

<script>
// Utilities
import {
  mapMutations
} from 'vuex'

export default {
  data: () => ({

  }),
  computed: {
    inputValueRight: {
      get () {
        return this.$store.state.app.drawerRight
      },
      set (val) {
        this.setDrawerRight(val)
      }
    },
  },
  methods: {
    ...mapMutations('app', ['setDrawerRight', 'toggleDrawerRight']),
    onClickSchema () {
      this.setSchema(!this.$store.state.app.schema)
    }
  }
}
</script>

<style lang="scss">

</style>
