<template>
  <v-navigation-drawer v-model="inputValue" id="app-drawer"
                       :mini-variant="mini"
                       dark
                       mobile-break-point="991"
                       width="260"
                       absolute overflow app>

    <v-img :src="image" :gradient="sidebarOverlayGradiant" height="100%">
      <v-layout tag="v-list" column class="fill-height">
        <v-list>
          <v-list-tile v-if="mini" @click.stop="toggleMini">
            <v-list-tile-action>
              <v-icon>chevron_right</v-icon>
            </v-list-tile-action>
          </v-list-tile>
          <v-list-tile avatar >
            <v-list-tile-avatar color="transparent">
              <v-img :src="logo" contain/>
            </v-list-tile-avatar>
            <v-list-tile-title class="title" :class="{ 'text--black': !isDark }">{{ $store.getters.getUsername }}</v-list-tile-title>
            <v-list-tile-action>
              <v-btn v-if="!responsive" icon @click.stop="toggleMini">
                <v-icon>chevron_left</v-icon>
              </v-btn>
              <v-btn v-if="responsive" icon @click.stop="inputValue = false">
                <v-icon>close</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
        <v-list>
          <v-divider light></v-divider>
          <v-list-tile :active-class="color" :to="item.to" avatar class="v-list-item mt-1" v-for="item in links" v-if="item.can" :key="item.title">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="font-weight-light" :class="{ 'text--black': !isDark }">{{ $t( item.title ) }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>

      </v-layout>
    </v-img>
  </v-navigation-drawer>
</template>

<script>
// Utilities
import tinycolor2 from "tinycolor2"
import {
  mapMutations,
  mapState
} from 'vuex'

export default {
  data: () => ({
    logo: `${process.env.MIX_BASE_URL}/public/img/faces/user.png`,
    username: process.env.MIX_APP_NAME,
    responsive: false,
    isDark: true,
    drawer: null,
    right: null,
    links: []
  }),
  created: function () {
    this.isDark = tinycolor2( this.sidebarOverlayGradiant ).isDark();
    this.getUser();
  },
  computed: {
    ...mapState('app', ['image', 'color', 'mini']),
    inputValue: {
      get () {
        return this.$store.state.app.drawer
      },
      set (val) {
        this.setDrawer(val)
      }
    },
    items () {
      return this.$t('Layout.View.items')
    },
    sidebarOverlayGradiant () {
      return `${this.$store.state.app.sidebarBackgroundColor}, ${this.$store.state.app.sidebarBackgroundColor}`
    }
  },
  mounted () {
    this.onResponsiveInverted()
    window.addEventListener('resize', this.onResponsiveInverted)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResponsiveInverted)
  },
  methods: {
    ...mapMutations('app', ['setDrawer', 'toggleDrawer', 'toggleMini']),
    getUser: function () {
      if ( this.$auth.username() ) {
        this.username = this.$auth.username() ;
        this.links = [
          { title: 'Dashboard', icon: 'dashboard', to: '/dashboard', can: true },
          { title: 'Record Information', icon: 'question_answer', to: '/record-information', can: this.$auth.can( 'register_info' ) },
          { title: 'General Report', icon: 'description', to: '/general-report', can: this.$auth.can( 'general_report' ) },
        ];
      } else {
        this.$store.dispatch('login')
          .then((response) => {
            this.username = response.data.username;
            window.permissions = response.data.permissions;
          })
          .then(() => {
            this.links = [
              { title: 'Dashboard', icon: 'dashboard', to: '/dashboard', can: true },
              { title: 'Record Information', icon: 'question_answer', to: '/record-information', can: this.$auth.can( 'register_info' ) },
              { title: 'General Report', icon: 'description', to: '/general-report', can: this.$auth.can( 'general_report' ) },
            ];
          })
          .catch((error) => this.notifyOnError( error.message ));
      }
    },
    onResponsiveInverted () {
      if (window.innerWidth < 991) {
        this.responsive = true
      } else {
        this.responsive = false
      }
    }
  },
  watch: {
    sidebarOverlayGradiant: function ( gradient ) {
      this.isDark = tinycolor2( gradient ).isDark();
    }
  }
}
</script>

<style lang="scss">
  #app-drawer {
    .v-list__tile {
      border-radius: 4px;
    }

    .v-image__image--contain {
      //top: 9px;
      //height: 60%;
    }

    div.v-responsive.v-image > div.v-responsive__content {
      overflow-y: auto;
    }
  }
</style>
