<template>
    <v-footer id="core-footer" color="transparent" absolute height="82" >
        <v-spacer/>
        <span class="font-weight-light copyright"> &copy; {{ new Date().getFullYear() }}
          <a href="https://www.idrd.gov.co" target="_blank" class="text-info">IDRD</a>, {{ $t("made with") }} <i class="fa fa-heart heart"></i> {{ $t("better web") }}
        </span>
    </v-footer>
</template>

<script>
export default {

}
</script>

<style type="scss" scoped>
    #core-footer {
        z-index: 0;
    }
</style>
