<template>

  <v-toolbar  id="core-toolbar" app flat prominent absolute>
    <v-toolbar-side-icon @click.stop="onClickBtn"></v-toolbar-side-icon>
    <v-toolbar-title>
      <v-avatar :tile="true" size="42" color="transparent">
        <v-img :src="logo" alt="avatar"></v-img>
      </v-avatar>
      {{ $t('app_name') }}
    </v-toolbar-title>

    <v-spacer></v-spacer>

    <v-menu :close-on-content-click="false" bottom left min-width="300" max-width="300" nudge-left="12" offset-x transition="slide-y-transition">
      <v-btn icon  slot="activator">
        <v-icon>more_vert</v-icon>
      </v-btn>
      <v-card>
        <v-container grid-list-xl>
          <v-layout wrap>
            <v-flex xs12>
              <div class="text-xs-center text-uppercase">
                <div class="title sidebar-filter">{{ $t('Scheme') }}</div>
                <div>
                  <v-btn @click="onClickSchema" :dark="schema" :color="schema ? 'black' : 'white'" class="mr-2" fab icon small round>
                    <v-icon>mdi-invert-colors</v-icon>
                  </v-btn>
                </div>
              </div>
              <v-divider class="mt-3"/>
            </v-flex>
            <v-flex xs12>
              <div class="text-xs-center body-2 text-uppercase sidebar-filter">{{ $t('Sidebar Filters') }}</div>
              <v-layout justify-center>
                <v-avatar v-for="c in colors" :key="c" :class="[c === color ? 'color-active color-' + c: 'color-' + c]" size="23" @click="setColor(c)"/>
              </v-layout>
              <v-divider class="mt-3"/>
            </v-flex>
            <v-flex xs12>
              <div class="text-xs-center body-2 text-uppercase sidebar-filter"><span>{{ $t('Images') }}</span></div>
            </v-flex>
            <v-flex v-for="img in images" :key="img" xs3>
              <v-img :class="[image === img ? 'image-active' : '']" :src="img" height="120" @click.native="setImage(img)"/>
            </v-flex>

            <v-flex xs12>
              <div class="text-xs-center body-2 text-uppercase">
                <div class=" sidebar-filter">
                  {{ $t('Manual') }}
                </div>

                <div>
                  <v-btn
                          color="indigo"
                          class="mr-2 v-btn-facebook"
                          :href="manual"
                          target="_blank"
                          round
                  >
                    <v-icon>mdi-book</v-icon> {{ $t('Manual') }}
                  </v-btn>
                </div>
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-menu>

    <v-menu bottom left>
      <template v-slot:activator="{ on }">
        <v-btn icon v-on="on">
          <v-icon>mdi-web</v-icon>
        </v-btn>
      </template>

      <v-list>
        <v-list-tile @click="onLang('es')">
          <v-list-tile-title>ES</v-list-tile-title>
        </v-list-tile>

        <v-list-tile @click="onLang('en')">
          <v-list-tile-title>EN</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>

    <v-menu bottom left>
      <template v-slot:activator="{ on }">
        <v-btn icon v-on="on">
          <v-icon>mdi-account</v-icon>
        </v-btn>
      </template>

      <v-list>
        <v-list-tile @click="onLogout">
          <v-list-tile-title>{{ $t('Logout') }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
    

    <!--
    <v-btn v-if="!responsive" icon @click="onClickBtnRight">
      <v-icon>mdi-settings</v-icon>
    </v-btn>
    -->
  </v-toolbar>
</template>

<script>

import {
  mapMutations,
  mapState
} from 'vuex'

export default {
  data: () => ({
    logo: `${process.env.MIX_BASE_URL}/public/img/icons/icon-512x512.png`,
    title: null,
    responsive: false,
    responsiveInput: false,
    manual: `${process.env.MIX_BASE_URL}/public/manual/Manual_RIC.pdf`,
    colors: [
      'primary',
      'info',
      'success',
      'warning',
      'danger'
    ],
    gradients: [
      'rgba(27, 27, 27, 0.74)',
      'rgba(255,255,255,0.74)',
    ],
    images: [
      `${process.env.MIX_BASE_URL}/public/img/sidebar-1.jpg`,
      `${process.env.MIX_BASE_URL}/public/img/sidebar-2.jpg`,
      `${process.env.MIX_BASE_URL}/public/img/sidebar-3.jpg`,
      `${process.env.MIX_BASE_URL}/public/img/sidebar-4.jpg`
    ]
  }),
  mounted () {
    this.title = process.env.MIX_APP_NAME;
    this.onResponsiveInverted()
    window.addEventListener('resize', this.onResponsiveInverted)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResponsiveInverted)
  },
  methods: {
    ...mapMutations('app', ['setDrawer', 'toggleDrawer', 'setDrawerRight', 'toggleDrawerRight', 'setSchema', 'toggleSchema', 'setColor', 'setGradient']),
    onClickBtn () {
      this.setDrawer(!this.$store.state.app.drawer)
    },
    onClickBtnRight () {
      this.setDrawerRight(!this.$store.state.app.drawerRight)
    },
    onClickSchema () {
      this.setSchema(!this.$store.state.app.schema)
    },
    ...mapMutations('app', ['setImage', 'setLang']),
    onResponsiveInverted () {
      if (window.innerWidth < 991) {
        this.responsive = true
        this.responsiveInput = false
      } else {
        this.responsive = false
        this.responsiveInput = true
      }
    },
    onLogout: function () {
      this.$store.dispatch('logout')
        .then(() => {
          window.isAuthenticated = false;
          this.$router.push({ name: 'Login'});
        })
    }
  },
  computed: {
    ...mapState('app', ['image', 'color', 'schema']),
    color () {
      return this.$store.state.app.color
    },
    sidebarOverlayGradiant () {
      return `${this.$store.state.app.sidebarBackgroundColor}, ${this.$store.state.app.sidebarBackgroundColor}`
    },
  }
}
</script>

<style>
  #core-toolbar a {
    text-decoration: none;
  }
</style>
