<template>
  <v-content>
      <div id="core-view">
        <v-fade-transition mode="out-in">
          <router-view />
        </v-fade-transition>
        <core-snackbar @on-close="onCloseNotification"></core-snackbar>
      </div>
  </v-content>
</template>

<script>
export default {

}
</script>

<style>
#core-view {
  padding-bottom: 100px;
}
</style>
