<template>
  <svg class="town-hall" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 402.19 49.86">
    <polygon class="cls-1" points="389.97 47.86 2.45 47.86 11.76 2 399.72 2 389.97 47.86"></polygon>
    <text class="cls-2" transform="translate(33.82 37.26) scale(1.06 1)">Alcaldía de Bogotá</text>
  </svg>
</template>

<script>
  export default {
    name: "TownHall"
  }
</script>

<style scoped>

  .town-hall {
    fill: currentColor
  }
  path {
    stroke: currentColor
  }
  rect {
    stroke: currentColor
  }
  polygon {
    fill: none;
    stroke: currentColor;
    stroke-width: 4px;
  }
  circle {
    stroke: currentColor
  }

  /*
  .cls-1 {
    fill: none;
    stroke: #000;
    stroke-width: 4px;
  }
   */

  .cls-2 {
    font-size: 38.05px;
    font-family: ArialMT, Arial;
    letter-spacing: -0.02em;
  }
</style>