<template>
    <v-app class="full-page">
        <div class="page-header header-filter full-page-background" :class="setPageClass" filter-color="black" :style="setBgImage">
            <v-content class="wrapper wrapper-full-page">
                <v-toolbar class="elevation-0" style="z-index: 3"  dark color="transparent">
                    <v-spacer></v-spacer>
                    <v-toolbar-title>
                        {{ $t('app_name') }}
                    </v-toolbar-title>

                    <v-spacer></v-spacer>
                    <v-spacer></v-spacer>
                    <v-spacer></v-spacer>

                    <v-btn href="#/login" v-if="!responsive" flat>
                        <v-icon>fingerprint</v-icon>
                        {{ $t('Login') }}
                    </v-btn>

                    <v-spacer></v-spacer>

                    <v-toolbar-side-icon v-if="responsive" @click.stop="toggleNavbar"></v-toolbar-side-icon>
                </v-toolbar>
                <v-container grid-list-md text-xs-center fluid fill-height>
                    <v-layout row class="container md-offset" >
                        <v-flex xs12 sm8 offset-md4 md4>
                            <zoom-center-transition :duration="pageTransitionDuration" mode="out-in">
                                <router-view></router-view>
                            </zoom-center-transition>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-footer class="auth--footer" color="transparent" inset app height="82" >
                    <v-spacer/>
                    <span class="font-weight-light copyright"> &copy; {{ new Date().getFullYear() }}
                            <a href="https://www.idrd.gov.co" target="_blank" class="text-info">IDRD</a>, {{ $t("made with") }} <i class="fa fa-heart heart"></i> {{ $t("better web") }}
                    </span>
                    <v-spacer/>
                </v-footer>
                <v-navigation-drawer v-if="responsive" v-model="showMenu"
                                     right
                                     dark
                                     mobile-break-point="991"
                                     width="260"
                                     app
                >

                    <v-layout column class="fill-height">
                        <v-list>
                            <v-divider light></v-divider>
                            <v-list-tile :active-class="color" :to="item.to" avatar class="v-list-item" v-for="item in links" :key="item.title">
                                <v-list-tile-action>
                                    <v-icon>{{ item.icon }}</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title class="font-weight-light">{{ item.title }}</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-layout >
                </v-navigation-drawer>
            </v-content>
        </div>
    </v-app>

</template>


<script>
    import {
        mapState
    } from 'vuex'
    import { ZoomCenterTransition } from "vue2-transitions";
    export default {
        name: "AuthLayout",
        components: {
            ZoomCenterTransition
        },
        data: () => ({
            process: process,
            drawer: null,
            responsive: false,
            showMenu: false,
            menuTransitionDuration: 350,
            pageTransitionDuration: 400,
            year: new Date().getFullYear(),
            links: [
                { title: 'Login', icon: 'fingerprint', to: '/login' },
            ],
        }),
        computed: {
            ...mapState('app', ['color']),
            setBgImage() {
                let images = {
                    Lock: `${process.env.MIX_BASE_URL}/public/img/register.jpg`,
                    Login: `${process.env.MIX_BASE_URL}/public/img/login.jpg`
                };
                return {
                    backgroundImage: `url(${images[this.$route.name]})`
                };
            },
            setPageClass() {
                return `${this.$route.name}-page`.toLowerCase();
            }
        },
        methods: {
            closeMenu() {
                this.showMenu = false;
            },
            toggleNavbar() {
                this.showMenu = !this.showMenu;
            },
            onResponsiveInverted() {
                if (window.innerWidth < 991) {
                    this.responsive = true;
                } else {
                    this.responsive = false;
                }
            },
        },

        mounted() {
            this.onResponsiveInverted();
            window.addEventListener("resize", this.onResponsiveInverted);
        },
        beforeDestroy() {
            this.closeMenu();
            window.removeEventListener("resize", this.onResponsiveInverted);
        },
        beforeRouteUpdate(to, from, next) {
            // Close the mobile menu first then transition to next page
            if (this.showMenu) {
                this.closeMenu();
                setTimeout(() => {
                    next();
                }, this.menuTransitionDuration);
            } else {
                next();
            }
        }
    }
</script>

<style lang="scss" scoped>
    $scaleSize: 0.1;
    $zoomOutStart: 0.7;
    $zoomOutEnd: 0.46;
    @keyframes zoomIn8 {
        from {
            opacity: 0;
            transform: scale3d($scaleSize, $scaleSize, $scaleSize);
        }
        100% {
            opacity: 1;
        }
    }
    .wrapper-full-page .zoomIn {
        animation-name: zoomIn8;
    }
    @keyframes zoomOut8 {
        from {
            opacity: 1;
            transform: scale3d($zoomOutStart, $zoomOutStart, $zoomOutStart);
        }
        to {
            opacity: 0;
            transform: scale3d($zoomOutEnd, $zoomOutEnd, $zoomOutEnd);
        }
    }
    .wrapper-full-page .zoomOut {
        animation-name: zoomOut8;
    }

    .container {
        margin-top: -60px;
        padding-right: 30px;
        padding-left: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .full-page .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .full-page {
        .container {
            width: 100%;
        }
        .v-toolbar {
            .v-toolbar__content {
                font-weight: 500;
                i {
                    margin-right: 3px;
                    max-width: 24px;
                    font-size: 1.25rem !important;
                    margin-left: 0;
                }
            }
            .v-btn  {
                margin-right: 5px;
                .v-btn__content {
                    &:focus, &:hover {
                        background-color: hsla(0, 0%, 78%, 0.2) !important;
                    }
                    &.active {
                        background-color: hsla(0, 0%, 78%, 0.1) !important;
                    }
                }
            }
        }
    }

    .wrapper {
        &:after {
            display: table;
            clear: both;
            content: " ";
        }
        &.wrapper-full-page {
            height: auto;
            min-height: 100vh;
            .footer {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }
    }

    .login-page .v-footer {
        .copyright, a {
            color: #fff;
        }
    }

    .wrapper.wrapper-full-page .v-footer a {
        color: #fff;
    }

    .page-header {
        /* Image is centered vertically and horizontally at all times */
        background-position: center center;

        /* Image doesn't repeat */
        background-repeat: no-repeat;

        /* Makes the image fixed in the viewport so that it doesn't move when
           the content height is greater than the image height */
        background-attachment: fixed;

        /* This is what makes the background image rescale based on its container's size */
        background-size: cover;

        /* Pick a solid background color that will be displayed while the background image is loading */
        background-color:#464646;

        /* SHORTHAND CSS NOTATION
         * background: url(background-photo.jpg) center center cover no-repeat fixed;
         */


        &:after {
            display: block;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }
        &:before {
            display: block;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.5);
        }
        &[filter-color=primary]:after, &[filter-color=purple]:after {
            background: rgba(225, 190, 231, 0.56);
            background: linear-gradient(60deg, rgba(225, 190, 231, 0.56), rgba(186, 104, 200, 0.95));
        }
        &[filter-color=primary].lock-page .form-group .form-control, &[filter-color=purple].lock-page .form-group .form-control {
            background-image: -webkit-gradient(linear, left top, left bottom, from(#448aff), to(#448aff)), -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
            background-image: linear-gradient(#448aff, #448aff), linear-gradient(#d2d2d2, #d2d2d2);
        }
        &[filter-color=blue]:after, &[filter-color=info]:after {
            background: rgba(178, 235, 242, 0.56);
            background: linear-gradient(60deg, rgba(178, 235, 242, 0.56), rgba(77, 208, 225, 0.95));
        }
        &[filter-color=blue].lock-page .form-group .form-control, &[filter-color=info].lock-page .form-group .form-control {
            background-image: -webkit-gradient(linear, left top, left bottom, from(#00bcd4), to(#00bcd4)), -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
            background-image: linear-gradient(#00bcd4, #00bcd4), linear-gradient(#d2d2d2, #d2d2d2);
        }
        &[filter-color=green]:after, &[filter-color=success]:after {
            background: rgba(165, 214, 167, 0.56);
            background: linear-gradient(60deg, rgba(165, 214, 167, 0.56), rgba(102, 187, 106, 0.95));
        }
        &[filter-color=green].lock-page .form-group .form-control, &[filter-color=success].lock-page .form-group .form-control {
            background-image: -webkit-gradient(linear, left top, left bottom, from(#4caf50), to(#4caf50)), -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
            background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#d2d2d2, #d2d2d2);
        }
        &[filter-color=orange]:after, &[filter-color=warning]:after {
            background: rgba(255, 224, 178, 0.56);
            background: linear-gradient(60deg, rgba(255, 224, 178, 0.56), rgba(255, 183, 77, 0.95));
        }
        &[filter-color=orange].lock-page .form-group .form-control, &[filter-color=warning].lock-page .form-group .form-control {
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9800), to(#ff9800)), -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
            background-image: linear-gradient(#ff9800, #ff9800), linear-gradient(#d2d2d2, #d2d2d2);
        }
        &[filter-color=danger]:after, &[filter-color=red]:after {
            background: rgba(239, 154, 154, 0.56);
            background: linear-gradient(60deg, rgba(239, 154, 154, 0.56), rgba(239, 83, 80, 0.95));
        }
        &[filter-color=danger].lock-page .form-group .form-control, &[filter-color=red].lock-page .form-group .form-control {
            background-image: -webkit-gradient(linear, left top, left bottom, from(#f44336), to(#f44336)), -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
            background-image: linear-gradient(#f44336, #f44336), linear-gradient(#d2d2d2, #d2d2d2);
        }
        &[filter-color=rose] {
            &:after {
                background: rgba(248, 187, 208, 0.56);
                background: linear-gradient(60deg, rgba(248, 187, 208, 0.56), rgba(240, 98, 146, 0.95));
            }
            &.lock-page .form-group .form-control {
                background-image: -webkit-gradient(linear, left top, left bottom, from(#e91e63), to(#e91e63)), -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#d2d2d2));
                background-image: linear-gradient(#e91e63, #e91e63), linear-gradient(#d2d2d2, #d2d2d2);
            }
        }
        &[data-image]:after {
            opacity: .8;
        }
        > {
            .content, .v-footer {
                position: relative;
                z-index: 4;
            }
            .content {
                min-height: calc(100vh - 80px);
            }
        }
        .full-page-background {
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
            display: block;
            top: 0;
            left: 0;
            background-size: cover;
            background-position: 50%;
        }
        .v-footer {
            color: #fff;
            .copyright a, nav > ul a:not(.btn) {
                color: #fff;
            }
        }
    }

    .login-page {
        > .content {
            padding-top: 18vh;
        }
        .v-card {
            max-width: 340px;
            margin: 0 auto;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            .v-card--material__header {
                margin-top: -40px;
                margin-bottom: 20px;
            }
            .category .v-icon {
                margin-left: 5px;
                margin-right: 5px;
            }
            &.md-card-hidden {
                opacity: 0;
                -webkit-transform: translate3d(0, -60px, 0);
                transform: translate3d(0, -60px, 0);
            }
        }
        &.page-header > .container {
            padding: 0;
        }
    }



    .header-filter {
        position: relative;
        &:after {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            display: block;
            left: 0;
            top: 0;
            content: "";
        }
        &:before {
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            display: block;
            left: 0;
            top: 0;
            content: "";
            background: rgba(0, 0, 0, 0.5);
        }
        .container {
            z-index: 2;
            position: relative;
        }
    }

    .md-offset {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: auto !important;
    }

    .footer {
        padding: 15px 0;
        .copyright, nav {
            display: inline-block;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                display: inline-block;
                &:first-child a {
                    margin-left: -15px;
                }
                a {
                    color: inherit !important;
                    padding: 15px;
                    font-weight: 500;
                    font-size: 12px;
                    text-transform: uppercase;
                    border-radius: 3px;
                    position: relative;
                    display: block;
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
        .copyright {
            padding: 15px 0;
            margin: 0;
            .material-icons {
                font-size: 18px;
                position: relative;
                top: 3px;
            }
        }
        .btn {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    @media (max-width: 768px) {
        .footer .container {
            -webkit-box-pack: unset;
            -ms-flex-pack: unset;
            justify-content: unset;
            display: block;
            nav {
                display: block;
            }
            .copyright {
                float: right;
            }
        }
        .login-page.page-header > .container {
            padding-top: 70px;
            padding-bottom: 160px;
        }
        .hidden-sm {
            display: none !important;
        }
    }

</style>
