<template>
    <v-app :dark="schema">

        <core-drawer></core-drawer>

        <core-toolbar></core-toolbar>

        <core-view></core-view>

        <core-footer v-if="!$route.meta.hideFooter"></core-footer>

    </v-app>
</template>

<script>
    import {
        mapState
    } from 'vuex'
    export default {
        name: "DashboardLayout",
        computed: {
            ...mapState('app', ['schema']),
            schema () {
                return this.$store.state.app.schema
            }
        }
    }
</script>

<style lang="scss">
    @import '@/styles/index.scss';
    /* Remove in 1.2 */
    .v-datatable thead th.column.sortable i {
        vertical-align: unset;
    }
</style>