<template>
    <v-scroll-x-transition>
        <material-card class="v-card-profile">
            <v-avatar slot="offset" class="mx-auto d-block" size="130">
                <img :src="img"  :alt="name"/>
            </v-avatar>
            <v-form id="lock-form" @submit.prevent="onUnlock" :action="api" method="post">
                <v-card-text class="text-xs-center">
                    <h4 class="card-title font-weight-light">{{ name }}</h4>

                    <v-text-field
                      v-model="user.password"
                      color="info"
                      v-validate="user.validations.password"
                      :error-messages="errors.collect( $t('password') )"
                      required :data-vv-name="$t('password')" prepend-icon="lock" id="password" name="password" :label="$t('password').capitalize()" type="password"></v-text-field>

                    <input type="hidden" :value="user.username" name="username">

                    <v-btn type="submit" :loading="loading" :disabled="loading" color="info" round class="font-weight-light">{{ $t('Unlock') }}</v-btn>

                </v-card-text>

            </v-form>

        </material-card>
    </v-scroll-x-transition>
</template>

<script>
    import {Auth} from "@/models/services/Auth";
    import {Api} from "@/models/Api";

    export default {
        name: "Lock",
        data: () => ({
            img: `${process.env.MIX_BASE_URL}/public/img/faces/user.png`,
            loading: false,
            name: null,
            error: null,
            token: document.head.querySelector('meta[name="csrf-token"]'),
            api: Api.END_POINTS.LOGIN(),
            user: new Auth({
                username: null,
                password: null
            }),
        }),
        created() {
            this.name = this.$store.getters.getUsername || this.$t('app_name');
            this.user.username = this.$auth.auth();
            if ( this.user.username === null ) {
                this.$router.push({name: 'Login'});
            }
        },
        methods: {
            onUnlock: function () {
                this.$validator.validateAll().then(isValid => {
                    if ( isValid ) {
                        this.loading = true;
                        document.getElementById("lock-form").submit();
                    }
                })
            }
        }

    }
</script>

<style scoped>

</style>