<template>
        <v-scroll-x-transition>
            <material-card class="elevation-15 md-card-login" color="info">
              <div slot="header">
                <div class="category">
                  <v-icon :rtl="$vuetify.rtl" size="36" slot="buttons" >$vuetify.icons.bogota</v-icon>
                </div>
                <br>
                <div class="title font-weight-light mb-2">{{ $t('Login') }}</div>
              </div>

              <v-form id="login-form" @submit.prevent="onSubmit" :action="login" method="post" >
                  <v-text-field
                    color="info"
                    prepend-icon="face"
                    v-model="form.username"
                    v-validate="form.validations.email"
                    :error-messages="errors.collect( $t('username') )"
                    :label="$t('username').capitalize()"
                    :data-vv-name="$t('username')"
                    name="username"
                    id="username"
                    required
                  ></v-text-field>

                  <v-text-field
                    v-model="form.password"
                    color="info"
                    v-validate="form.validations.password"
                    :error-messages="errors.collect( $t('password') )"
                    required :data-vv-name="$t('password')" prepend-icon="lock" id="password" name="password" :label="$t('password').capitalize()" type="password"></v-text-field>

                  <v-btn type="submit" :loading="loading" :disabled="loading" class="mt-1" color="info">{{ $t('Login') }}</v-btn>
              </v-form>

            </material-card>
        </v-scroll-x-transition>
</template>

<script>
  import {Auth} from "@/models/services/Auth";
    export default {
      name: "Login",
      data() {
        return {
          loading: false,
          login: `${process.env.MIX_BASE_URL}/login`,
          form: new Auth({
            username: null,
            password: null
          })
        };
      },
      mounted: function () {
        this.axiosInterceptor();
      },
      methods: {
        onSubmit: function () {
          this.$validator.validateAll().then(isValid => {
            if (isValid) {
              this.loading = true;
              document.getElementById("login-form").submit();
            }
          })
        }
      },

    }
</script>

<style scoped>

</style>